/* ----------------------------------- COLORS ----------------------------------- */

$c_bg_body: hsl(233, 47%, 7%);
$c_bg_card: hsl(244, 38%, 16%);
$c_text_accentuate: hsl(277, 64%, 61%);
$c_text_paragraph: hsla(0, 0%, 100%, 0.75);
$c_text_heading_main: hsl(0, 0%, 100%);
$c_text_stat_topic: hsla(0, 0%, 100%, 0.6);